@font-face {
   font-family: 'Rokkitt';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///Users/Zeno/Documents/HelpGiveThanks/helpgivethanks.github.io//fonts/Rokkitt/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Rokkitt';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///Users/Zeno/Documents/HelpGiveThanks/helpgivethanks.github.io//fonts/Rokkitt/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Rokkitt';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///Users/Zeno/Documents/HelpGiveThanks/helpgivethanks.github.io//fonts/Rokkitt/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Rokkitt';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///Users/Zeno/Documents/HelpGiveThanks/helpgivethanks.github.io//fonts/Rokkitt/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Rokkitt';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///Users/Zeno/Documents/HelpGiveThanks/helpgivethanks.github.io//fonts/Rokkitt/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Rokkitt';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/Zeno/Documents/HelpGiveThanks/helpgivethanks.github.io//fonts/Rokkitt/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Rokkitt';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///Users/Zeno/Documents/HelpGiveThanks/helpgivethanks.github.io//fonts/Rokkitt/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Rokkitt';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///Users/Zeno/Documents/HelpGiveThanks/helpgivethanks.github.io//fonts/Rokkitt/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Rokkitt';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/Zeno/Documents/HelpGiveThanks/helpgivethanks.github.io//fonts/Rokkitt/regular.ttf') format('truetype');
}
